/* Helper styles */

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.clearfix {
    *zoom: 1; 
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table; 
}
.clearfix:after {
    clear: both; 
}