// Variables

// Fonts
$primary_fontstack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colours
$primarycolour: #ff0000;
$secondarycolour: #000;

// Structure
$websitewidth: 960px;

// Media Queries
$desktop: 960;
$tablet: 767;
$phone: 480;
